@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

:root {
    --col-baby-grey: #ded5d5;
    --col-grey: #757575;
	--col-light-grey: #afaeae;
}

.h_iframe iframe{
    width: 100%;
}

/*Les bulles des catégories*/
.circle {
    background-image:-webkit-linear-gradient(top, var(--col-baby-grey) 0%, var(--col-grey) 100%);
    background-image: linear-gradient(to bottom, var(--col-baby-grey) 0%, var(--col-grey) 100%);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    margin-left: 1.5vw;
    margin-top: 2vh;
    width: 10vw;
    height: 60vh;
    padding: 2px;
    padding-top: 20px;
    display: inline-block;
    text-align: center;
    font-size: 1.35vw;
    font-family: 'Roboto', Arial, sans-serif;
}

.circle:hover {
    background-image:-webkit-linear-gradient(top, var(--col-baby-grey) 50%, var(--col-grey) 100%);
    background-image: linear-gradient(to bottom, var(--col-baby-grey) 50%, var(--col-grey) 100%);
}

.circle_text {
    display: inline-block;
    padding-top: 15vh;
}

.inner-addon {
    position: relative;
    float: right;
}

/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    float: right;
}
  
/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { padding-left: 175px;}

.textAccount {
    font-size: 2em;
    padding-left: 1vw;
}

/*La ligne en dessous de account*/
.dash {
    border: 1px solid rgb(0, 0, 0);
    width: 800px;
    height: 0px;
    margin-left: 1vw;
}

/* Fixez le bouton sur le côté gauche de la page */
.open-btn {
    display: flex;
    justify-content: left;
}

/* Stylez et fixez le bouton sur la page */
.button {
    background-color: var(--col-grey);
    opacity: 0.8;
    padding: 12px 15px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color:white
}

/* Largeur complète pour les champs de saisie */
.form-container input[type=text], .form-container input[type=password] {
    width: 90%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: rgb(255, 230, 210);
}
/* Quand les entrées sont concentrées, faites quelque chose */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
/* Styler le bouton de connexion */
.form-container .btn {
    background-color: #b3aca6;
    padding: 12px 10px;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-bottom:10px;
    opacity: 0.8;
}
/* Planez les effets pour les boutons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.ui-dialog .ui-dialog-titlebar-close
{
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/aui/6.0.1/aui/css/icons/aui-icon-close.png);
}

.ui-dialog .ui-dialog-titlebar-close:hover
{
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/aui/6.0.1/aui/css/icons/aui-icon-close.png);
}

#glyph {
    background-color: transparent; 
    border-color:transparent;
    font-size: 30px;
}

#avatar {
    width: 50px;
    height: 50px;
}

.fridge{
    background-color: var(--col-light-grey);
    size-adjust: content;
    margin-left: 300px;
    margin-right: 300px;
    padding: 100px;
}

