@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

:root{
    --col-salmon: #c5c1bf;
    --col-lightSalmon: #cfc9c5;
    --grey: #535353;
	--light-grey: #afaeae;
	--red: #ff7648;
	--yellow: #2c2927;
}

#TextAccount{
    font-size: 2em;
    padding-left: 1vw;
}

/*Les bulles des catégories*/
.circle{
    background-image:-webkit-linear-gradient(top, var(--col-lightSalmon) 0%, var(--col-salmon) 100%);
    background-image: linear-gradient(to bottom, var(--col-lightSalmon) 0%, var(--col-salmon) 100%);
    margin-left: 2vw;
    margin-top: 2vh;
    width: 10vw;
    height: 60vh;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Roboto', Arial, sans-serif;
    float: left; 
    padding: 2px;
}

.circle:hover{
    background-image:-webkit-linear-gradient(top, var(--col-lightSalmon) 50%, var(--col-salmon) 100%);
    background-image: linear-gradient(to bottom, var(--col-lightSalmon) 50%, var(--col-salmon) 100%);
}

.circle_text {
    display: inline-block;
    padding-top: 15vh;
}

/*La ligne en dessous de account*/
.dash{
    border: 1px solid rgb(0, 0, 0);
    width: 800px;
    height: 0px;
    margin-left: 1vw;
}

/* Fixez le bouton sur le côté gauche de la page */
.open-btn {
    display: flex;
    justify-content: left;
}

/* Stylez et fixez le bouton sur la page */
.button {
    background-color: var(--grey);
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    margin: 20px;
    color:var(--col-lightSalmon)
}
/* Positionnez la forme Popup */
.login-popup,.create-popup {
    position: relative;
    text-align: center;
    width: 100%;
}
/* Masquez la forme Popup */
.form-popup {
    display: none;
    position: fixed;
    left: 45%;
    top:5%;
    transform: translate(-45%,5%);
    border: 2px solid rgb(132, 112, 99);
    z-index: 9;
}
/* Styles pour le conteneur de la forme */
.form-container {
    max-width: 380px;
    padding: 20px;
    background-color: rgb(155, 93, 43);
}
/* Largeur complète pour les champs de saisie */
.form-container input[type=text], .form-container input[type=password] {
    width: 90%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: rgb(255, 230, 210);
}
/* Quand les entrées sont concentrées, faites quelque chose */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
/* Styler le bouton de connexion */
.form-container .btn {
    background-color: #beb3a9;
    padding: 12px 10px;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-bottom:10px;
    opacity: 0.8;
}
/* Planez les effets pour les boutons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

#cancelButton{
    margin-left: 17vw;
    width: 1.5vw;
    height: 1vh;
    line-height: 1px;
}

#glyph{
    font-size: 45px;
    margin-right: 31vw;
    margin-left: 2vw;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}

.h_iframe iframe {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.h_iframe {
    height: 100%;
    width: 100%;
}

.ui-icon-CloseButton {
    background-image: url("../images/Close_button.png"); 
    height: 50px;
    width: 50px;
    scale: 45%;
}