:root{
    --col-baby-salmon: #f0cdb6;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: var(--col-grey);
    width: fit-content;
    margin-left: 20%;
}

h4{
    background-color: var(--col-baby-salmon);
    text-align: center;
}

.addIngredient{
    background-color: var(--col-light-grey);
    width: 20vw;
    height: 150px;
    margin-top: 1vh;
    margin-left: 45%;
}

.fridge_Category{
    margin-top: 20px;
    margin-left: 50px;
    background-color: var(--col-light-grey);
    width: 350px;
    height: 400px;
    display: inline-block;
}

.fridge_Title{
    margin-left: 20px;
    margin-top: 0%;
    background-color: var(--col-baby-salmon);
    width: 75%;
    text-align: center;
}

.itemsContainer{
    position: absolute;
    background-color: var(--col-baby-salmon);
    width: 300px; 
    height: 325px;
    overflow-y: scroll;
    display: grid;
}

.itemsTable{
    height: 500px;
    background-color: rgb(164, 142, 105);
}