:root{
    --col-baby-salmon: #f0cdb6;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: var(--col-grey);
    width: fit-content;
    margin-left: 12%;
}

h4{
    background-color: var(--col-baby-salmon);
    text-align: center;
}

.fridge_Title{
    margin-left: 20px;
    margin-top: 0%;
    background-color: var(--col-baby-salmon);
    width: 75%;
    text-align: center;
}

.img_Category{
    height: 50px;
    float: right;
    margin-bottom: 0px;
}

.fridge_Category{
    margin-top: 20px;
    margin-left: 40px;
    background-color: var(--col-light-grey);
    width: 420px;
    height: 400px;
    display: inline-block;
}

.itemsContainer{
    position: absolute;
    width: 350px; 
    height: 320px;
    overflow-y: scroll;
    display: grid;
    margin-left: 40px;
}

.itemsContainer::-webkit-scrollbar { 
    display: none;
}

.itemsTable{
    height: 200px;
    border-collapse: separate;
    border-spacing: 0 7px;
}

.fridge_Container{
    height: 600px; 
    width: 450px; 
    position: relative; 
    display: inherit;
}

.addIngredient{
    background-color: var(--col-light-grey);
    width: 17vw;
    margin-top: 1vh;
    margin-left: 45%;
    padding: 1%;
    padding-top: 0%;
}

/*.img_Fridge{
    height: 500px;
    margin-left: 12px; 
    float: left; 
    position: relative;
}*/